*{
  cursor: none;
}

body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.container{
    height: 100%;
    width: 100%;
}

#cursor{
    position: relative;
    margin: 0;
    width: 150px;
    height: 20px;
    background-image: url('../res/cursor.png');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    transform-origin: left center;
  }

  .box1{
    position: fixed;
    left: 500px;
    top: 500px;
    width: 50px;
    height: 50px;
    background-image: url('../res/ramiel_01.gif');
    background-size: cover;
  }

  .line{
    position: relative;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    background-color: #8600ff;
    transform-origin: left;
  }

  .axisX, .axisY{
    position: absolute;
    background-color: red;
  }

  .axisX{
    top: 0;
    width: 1px;
  }
  .axisY{
    left: 0;
    height: 1px;
  }


  .axisX span, .axisY span{
    position: absolute;
    width: 100px;
    height: 20px;
    color: red;
    font-family: 'Monument Extended', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
  }

  .axisX span{
    top: 4%;
  }
  .axisY span{
    left: 4%;
    top: -20px;
  }